* {
    margin: 0;
    padding: 0;
}

body {
   width: 50%;
    margin: 0 auto;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    width: 80%;
}

#inputField {
    width: auto;
    height: 2.5em;
    border: .1rem solid black;
    vertical-align: middle;
}

#addToDo {
    width: auto;
    border: .1rem solid black;
}

#toDoContainer {
    margin-top: 1rem;
}

.paragraph-styling {
    margin-top: 0;
    cursor: pointer;
}



